<footer>
  <div class="social">
    <a href="{{ "https://www.facebook.com/" | append: site.facebook_username }}" target="_blank"><ion-icon class="social-icon ion-social-facebook"></ion-icon></a>
    <a href="{{ "https://www.instagram.com/" | append: site.instagram_username }}" target="_blank"><ion-icon class="social-icon ion-social-instagram"></ion-icon></a>
    <a href="{{ "https://www.twitter.com/" | append: site.twitter_username }}" target="_blank"><ion-icon class="social-icon ion-social-twitter"></ion-icon></a>
  </div>
  <div class="copyright">Marta Levantaci &copy; 2019  </div>
</footer>
