@charset "utf-8";

@font-face {
	font-family:'Bagnard';
	src: url(fonts/Bagnard.otf);
}

// fonts
$font-family: "Avenir Next", "Helvetica", "Arial", sans-serif !default;
$base-font-size: 19px;

$base-font-weight: 400;
$font-weight-black: 800;
$font-weight-bold: 600;
$font-weight-semibold: 500;
$font-weight-light: 300;
$font-weight-thin: 200;

$spacing-unit: 30px;
$spacing-unit-devices: 20px;
$content-lateral-padding: 12px;

//spacings
$base-line-height: 30px;
$line-height-list: 30px;
$line-height-description: 28px;
$line-height-compact: 26px;
$line-height-devices: 30px;

// colors
$background-color: #fff;
$text-color: #2c4d41;

$accent-color: #eb9486;
$accent-color-light: lighten($accent-color, 10%);
$accent-color-extra-light: lighten($accent-color, 18%);
$accent-color-dark: darken($accent-color, 15%);

$grey: #7f9b95;
$grey-background: #fcfaf2;
$grey-dark: darken($grey, 10%);
$grey-icon: lighten($grey, 20%);
$grey-light: lighten($grey, 33%);
$grey-extra-light: lighten($grey, 66%);


//content
$content: 960px;
$content-home: 1500px;
$content-page: 600px;

// devices
$tablet: 959px;
$phablet: 640px;
$mobile: 480px;


// Import partials.
@import
  "partials/reset",
  "partials/layout",
  "partials/posts",
	"partials/summary",
  "partials/media-queries"
;
