---
layout: default
---
  <div class="page-content">
    {{ content }}
    <div class="author">
      <img src="{{ site.assetsurl | append: "profile.jpg" | absolute_url | escape }}" />
      <p>Hi, this is Marta cooking!</p>
      <p>Native Italian and grown up in the Northern countryside. I lived for eight years in Milan, tasting cuisines from all over the world and specializing in bartending.</p>
      <p>I’m currently living in Paris, helping food & beverage brands to communicate their products through an appetizing storytelling.</p>
    </div>
  </div>
