---
layout: page
---
  {% include summary-elements.html section='Entrées' subcategory="entrees" %}
  {% include summary-elements.html section='Main courses' subcategory="main courses" %}
  {% include summary-elements.html section='Side dishes' subcategory="side dishes" %}
  {% include summary-elements.html section='Salads' subcategory="salads" %}
  {% include summary-elements.html section='Desserts' subcategory="desserts" %}
  {% include summary-elements.html section='Bakery' subcategory="bakery" %}
